{% extends 'template.twig' %}

{% block title %}
    <title>Lite des posts by twig</title>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>yBernier Blog</h1>
            <p>Derniers posts :</p>
        </div>
    </div>
    <div class="row">
        {% for post in postList %}
            <div class="col-4">
                <div class='card'>
                    <img class="card-img-top" src="public/img/{{ post.image_top }}" alt="image post top">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle text-muted">{{ post.date_fr }}</h6>
                        <p>{{ post.content }}</p>
                        <a class="card-link" href="#"><em>{{ post.nb_comment }} Commentaires</a></em>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
