{% extends 'template.twig' %}

{% block title %}
    <title>Liste des posts by twig</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>Les Derniers Posts</h1>
        </div>
    </div>
    <div class="row">
        {% for post in postList %}
            <div class="col-4">
                <div class='card'>
                    <img class="card-img-top" src="public/img/{{ post.imagetop }}" alt="image post top">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle text-muted">le : {{ post.datefr }}</h6>
                        <h6 class="card-subtitle text-muted">par : {{ post.author }}</h6>
                        <h6 class="card-subtitle text-muted">dans : {{ post.category }}</h6>
                        <p>{{ post.content }}</p>
                        <a class="card-link" href="index.php?p=post&i={{ post.idpost }}"><em>Lire le post</a></em>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
