{% extends 'template.twig' %}

{% block title %}
    <title>Liste des posts by twig</title>
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <h1>Les Derniers Posts</h1>
        </div>
    </div>
    <div class="row">
        {% for post in postList | slice(0,11) %}
            <div class="col-md-4 col-sm-6">
                <div class='card'>
                    <img class="card-img-top" src="public/img/{{ post.imagetop }}" alt="image post top">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-subtitle text-muted">
                            le : {{ post.datefr }}<br>
                            par : {{ post.author }}<br>
                            dans : {{ post.category }}
                        </p>
                        <hr>
                        <p>{{ post.smallcontent }}</p>
                        <p class="card-subtitle text-muted"><em>{{ post.nbcom }} Commentaires</em></p>
                        <a class="card-link" href="index.php?p=post&i={{ post.idpost }}">Lire le post</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
